[Desktop Entry]
Name=windows-eleven-twilight
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=org.kde.plasmashell
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=windows-eleven-twilight
X-KDE-PluginInfo-Version=1.0
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1563784,kns://plasma-themes.knsrc/api.kde-look.org/1989107,kns://plasma-themes.knsrc/api.kde-look.org/2023421,kns://aurorae.knsrc/api.kde-look.org/1977804,kns://icons.knsrc/api.kde-look.org/1977340,kns://wallpaper.knsrc/api.kde-look.org/1978301,kns://xcursor.knsrc/api.kde-look.org/1436673,kns://plasmoids.knsrc/api.kde-look.org/1545530,kns://plasmoids.knsrc/api.kde-look.org/1181039,kns://wallpaper.knsrc/api.kde-look.org/1999772,kns://sddmtheme.knsrc/api.kde-look.org/2053613,kns://sddmtheme.knsrc/api.kde-look.org/2060880,kns://wallpaper.knsrc/api.kde-look.org/2079222,kns://wallpaper.knsrc/api.kde-look.org/2076498,kns://wallpaper.knsrc/api.kde-look.org/2099238,kns://plasmoids.knsrc/api.kde-look.org/2095549,kns://plasmoids.knsrc/api.kde-look.org/2099193
